<!DOCTYPE html>
<html class="has-navbar-fixed-top">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Juicer Documentation</title>
    <link rel="stylesheet" href="{{ 'styles/reset.css' | absURL }}">
    <link rel="stylesheet" href="{{ 'styles/bulma.min.css' | absURL }}">
    <link rel="stylesheet" href="{{ 'styles/style.css' | absURL }}">
    <script src="https://kit.fontawesome.com/8a5bb05f66.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="{{ .site.baseURL }}">
          <img src="{{ 'images/juicer-logo-name-90.png' | absURL }}" alt="Juicer: a static site generator">
        </a>
      </div>

      <div class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item">
            Home
          </a>

          <a class="navbar-item">
            Documentation
          </a>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="field is-grouped">
              <p class="control">
                <a class="bd-tw-button button" data-social-network="GitHub" data-social-target="https://bulma.io" target="_blank" href="https://twitter.com/intent/tweet?text=Bulma: a modern CSS framework based on Flexbox&amp;hashtags=bulmaio&amp;url=https://bulma.io&amp;via=jgthms">
                  <span class="icon">
                    <i class="fab fa-github"></i>
                  </span>
                  <span>GitHub</span>
                </a>
              </p>
              <p class="control">
                <a class="button is-primary" href="https://github.com/jgthms/bulma/releases/download/0.9.3/bulma-0.9.3.zip">
              <span class="icon">
                <i class="fas fa-download"></i>
              </span>
                  <span>Download</span>
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <section class="section">
      <div class="columns">
        <div class="column is-2 is-offset-1" style="height:80vh; position: sticky; top: 3.2rem;">
          <aside class="menu">
            {{- for .site.toc }}
              {{- if .label }}
                <p class="menu-label">
                  {{ .label }}
                </p>
              {{- else }}
                <ul class="menu-list">
                  {{- for .headings }}
                    <li><a>{{ . }}</a></li>
                  {{- end }}
                </ul>
              {{- end }}
            {{- end }}
          </aside>
        </div>

        <div class="column is-5">
          <div class="content has-text-justified">
            {{ .content }}
          </div>
        </div>

        <div class="column is-one-fifth" style="height:80vh; position: sticky; top: 3.2rem;">
          <aside class="menu">
            {{- if .sub }}
              <p class="menu-label has-text-weight-bold">
                Table of Contents
              </p>
                {{- partial 'subheadings' .sub }}
            {{- end }}
          </aside>
        </div>
      </div>
    </section>

  <footer class="footer pt-3 pb-3">
    <div class="content has-text-centered">
      <p>
        <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
        is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
      </p>
    </div>
  </footer>
  </body>
</html>
