body {
    background: {{ .site.backgroundColor | default 'white' }};
    color: {{ .site.bodyColor | default 'black' }};
    font: 16px/1.5 sans-serif;
}

.container {
    max-width: 600px;
    margin: 40px auto;
}

img.logo {
    float: right;
}

a {
    color: {{ .site.linkColor | default '#0076DD' }};
}

hr {
    border: 0;
    height: 1px;
    background: #ccc;
    margin-top: 30px;
}
